.content-grid {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 24px;
  column-gap: 24px;
}

.main-heading {
  height: 900px;
  background-color: lightblue;
  font-family: Roboto, Arial;
  font-size: 64px;
}