.sidebar {
  position: fixed;
  right: 0;
  top: 121px;
  bottom: 0;
  width: 192px;
  background-color: white;
  border: none;
  transition: opacity 0.15s;
  opacity: 0;
}

.sidebar.active{
  opacity: 1;
  cursor: pointer;
}

.sidebar-link {
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, Arial;
  font-size: 18px;
  transition: background-color 0.15s;
  border-radius: 20px;
}

.sidebar-link:hover {
  background-color: rgb(196, 196, 196);
}